:host {
    display: flex;
    justify-content: center;
    width: 85vw;
    flex-direction: column;
    align-items: center;
}

span {
    color: rgba(68, 86, 90, 0.521);
}

.main h3.cart-information {
    margin-bottom: .5rem;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.block {
    height: fit-content;
}

.box {
    width: 95%;
    border: 1px solid rgba(73, 93, 95, 0.361);
    border-radius: 8px;
    max-height: 100%;

}

hr {
    margin: 1rem 0;
    border: none;
    height: 1px;
    background-color: rgba(211, 211, 211, 0.502);
}

.block-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    height: 40px;
    background-color: transparent;
}

div.left-header-details {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0 5px;
}

div.right-header-details {
    color: lightslategrey;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 5px;
}

div.right-header-details:hover {
    color: black;
}

.item-img {
    display: flex;
    align-items: center;
    gap: 5px;
}

.item {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}



img {
    width: 5rem;
    height: 5rem;
}

.span-item-price {
    color: #28a745;
}

.item-details {
    min-width: 250px;
    max-width: 250px;
}

.item-details {
    width: 350px;
}

.item-size-span,
.item-count-span {
    font-weight: 550;
}

div.last-div {
    height: 16rem;
    position: relative;
    color: white;
    margin: 6rem 0 2rem 0;
    padding: 2rem;
    background-color: rgb(34, 56, 56);
    width: 100%;
    box-sizing: border-box;
}

div.last-box {
    display: flex;
    gap: 1rem;
}

div.last-boxx h1 {
    margin: 1rem 0;
}

footer {

    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
    margin-top: 5rem;
}




a.jamshid {
    color: white;
    text-decoration: none;
}

h1.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    text-align: center;
    padding: 1rem;
}


nav {
    display: flex;
    justify-content: center;
    height: 3rem;
    position: sticky;
    top: 0;
    background-color: rgb(248, 238, 227);
    width: 102%;
    margin-bottom: 3rem;
    z-index: 2;

}

ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    transition: .4s;
    padding: 0 1rem;
    cursor: pointer;
}

li:hover {

    background-color: white;

}

a.navbar {
    font-size: 1.3rem;
    display: flex;
    text-decoration: none;
    display: flex;
    text-transform: uppercase;
    color: black;
    align-items: center;
    gap: .5rem;
    cursor: pointer;

}
.order-details {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.order-conteiner {
    border: 1px solid rgba(73, 93, 95, 0.361);
    border-radius: 8px;
    padding: 5px;
    position: sticky;
    top: 10%;
    height: 48vh;
}

.order-btn {
    position: absolute;
    bottom: 5px;
    width: 95%;
    border-radius: 8px;
    border: none;
    padding: 10px;
    background-color: rgb(140, 160, 100);
    color: white;
    font-weight: 550;
    letter-spacing: 1px;
    transition: .3s;
}

.order-btn:disabled {
    background-color: rgba(128, 128, 128, 0.519);
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
}

.delivery-date {
    border: 1px solid slateblue;
    color: slateblue;
    padding:2px 5px;
    line-height: 12px;
    font-weight: 600;
    font-size: .80rem;
    text-align: center;
    letter-spacing: 1px;
}

.payment-methods {
    display: flex;
    font-size: 2.5rem;
    color: slateblue;
    gap:10px;
}

.order-btn:hover {
    opacity: 0.8;
}

.products-count-and-price {
    display: flex;
    justify-content: space-between;
}