* {
    padding: 0;
    margin: 0;
}


:host {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    --header-color: rgb(64, 224, 208);
    --main-color: rgb(248, 238, 227);
    --footer-color: rgb(34, 56, 56);
    --price-green: #28a745;

}


.big-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    text-align: center;
    padding: 1rem;
}


nav {
    display: flex;
    justify-content: center;
    height: 3rem;
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    width: 90%;
    margin-bottom: 5rem;
    z-index: 2;

}

ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

li {
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    transition: .4s;
    padding: 0 1rem;
}

li:hover {

    background-color: white;

}

a.navbar {
    font-size: 1.3rem;
    display: flex;
    text-decoration: none;
    display: flex;
    text-transform: uppercase;
    color: black;
    align-items: center;
    gap: .5rem;
    cursor: pointer;

}




div.welcome {
    width: 60%;
    padding-left: 2rem;
}


div.news1 {
    width: 90%;
    height: 78.6vh;
    background-color: lightpink;
    border-radius: 2rem;
    color: white;


}

.why-us-icons {
    font-size: 4rem;
    margin-top: 20px;
}

div.news {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    animation: news 1s forwards;
    transform: translateY(50px);
    opacity: 0;
}

p.welcome {
    margin-top: 1rem;
    width: 95%;
}

div.img {
    position: relative;
}


.circle {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: rosybrown;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 54%;
    right: -40%;
    z-index: -2;
}

.package {
    position: absolute;
    transform: translate(-50%, -50%) rotate(15deg);
    border-radius: 50%;

}

.first {
    width: 90px;
    top: 23%;
    right: 0;
    background-color: floralwhite;

}

.second {
    width: 90px;
    top: 40%;
    left: -5%;
    transform: rotate(-15deg);
    background-color: aliceblue;
    border-radius: 50%;
}

.third {
    padding: 3px;
    top: 65%;
    transform: rotate(45deg);
    right: 2%;
    background-color: gainsboro;
    border-radius: 50%;
    width: 90px;
}


div.second-div {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    height: fit-content;
    width: 90%;
    grid-auto-rows: 400px;
}


.welcome {
    display: inline-block;
}

.product-price {
    color: red;
    font-weight: 700;
    position: absolute;
    right: 7px;
    top: 310px;
    text-decoration: line-through;
}

.sale-product-price {
    color: var(--price-green);
    font-weight: 1000;
    transform: scale(1.4);
    position: absolute;
    right: 1.4rem;
    top: 325px;
}

.product-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-product {
    background-color: var(--main-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 1rem;
    height: fit-content;
    transition: .5s;
    width: 280px;
    position: relative;
}

.img-conteiner {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.grid-product:hover {
    transform: translateY(-20px);
    box-shadow: 0 0 30px rgba(188, 143, 143, 0.342);
}

div.second-product-details {
    display: flex;
    justify-content: space-between;
    align-items: end;

}

a.second-product-details {
    text-decoration: none;
    padding: 5px;
    background-color: plum;
    border: 1px solid plum;
    color: var(--main-color);
    border-radius: 5px;
    width: 15%;
    text-align: center;
    transition: .3s;
    cursor: pointer;
}

a.second-product-details:hover {
    background-color: rgba(221, 160, 221, 0);
    border: 1px solid plum;
    color: plum;

}



p.second-product-details {
    width: 50%;
    font-size: 0.9rem;
}

img.product {
    width: 100%;
    transition: .5s;
}

img.product:hover {
    scale: 1.1;
}



h1.product,
h1.contact {
    margin: 3rem 0;
}

h1.why {
    margin: 3rem 0 0 0;
}

div.third-div {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: fit-content;
}

#why-icon {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.why-details {
    height: 50%;
    text-align: center;
    padding: 20px;
}

p.contact-us {
    margin-left: 5px;
}

div.why-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 3rem;
    width: 380px;
    height: 200px;
}


div.fouth-box {
    position: relative;
    height: 77vh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 89vw;
    border-radius: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.contact-us-details,
div.contact-us-elements {
    width: 100%;
}

div.contact-us-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

h1.contact-us-details {
    margin: 1rem;
    
}

div.contact-us-elements {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}


input.inputs {
    height: 2rem;
    width: 35rem;
    padding: 5px;
}

input.inputs,
textarea {
    margin: 1rem 10px;
}

#send {
    position: relative;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 80%;
    margin: 1rem 0 1rem 10px;
    padding: 13px;
    background-color: rosybrown;
    border: 1px solid rosybrown;
    width: 100px;
    font-weight: 700;
    color: white;
    transition: .5s;
}

#send:hover {
    background-color: rgba(188, 143, 143, 0);
    color: rosybrown;
}

div.right {
    background-color: whitesmoke;
    height: 100%;
    width: 50%;
    position: absolute;
    border-radius: 3rem;
    left: 0;
    z-index: -1;
    transition: .5s;

}

div.fouth-box:hover div.right {

    left: 50%;
}



textarea {
    padding: 10px;
    resize: none;
    width: 34.5rem;
}


@keyframes news {
    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

div.last-div {
    height: 12rem;
    position: relative;
    color: white;
    margin: 6rem 0 2rem 0;
    padding: 2rem;
    background-color: var(--footer-color);
    width: 85vw;
}

div.last-box {
    display: flex;
    gap: 1rem;
}

div.last-boxx h1 {
    margin: 1rem 0;
}

footer {

    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
    margin-top: 5rem;
}





a.jamshid {
    color: white;
    text-decoration: none;
}

hr {
    margin: 1rem 0;
}

.custom-alert {
    background-color: #e6ffed;
    color: #216e39;
    padding: 15px 20px;
    border-left: 5px solid #2ecc71;
    border-radius: 4px;
    margin-top: 20px;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    gap: 1rem;
}

.custom-alert button {
    position: absolute;
    top: 1rem;
    right: 5px;
    background: transparent;
    border: none;
    color: #0f5132;
    font-size: 18px;
    cursor: pointer;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


h1.welcome span {
    display: inline-block;
    font-size: 60px;
    font-weight: 700;
    animation: bounce .6s alternate;
}

h1.welcome span:nth-child(1) {
    animation-delay: 1s;
}

h1.welcome span:nth-child(2) {
    animation-delay: 1.1s;
}

h1.welcome span:nth-child(3) {
    animation-delay: 1.2s;
}

h1.welcome span:nth-child(4) {
    animation-delay: 1.3s;
}

h1.welcome span:nth-child(5) {
    animation-delay: 1.4s;
    margin-right: 1rem;
}

h1.welcome span:nth-child(6) {
    animation-delay: 1.5s;
}

h1.welcome span:nth-child(7) {
    animation-delay: 1.6s;
}

h1.welcome span:nth-child(8) {
    animation-delay: 1.7s;
}

h1.welcome span:nth-child(9) {
    animation-delay: 1.8s;
}

h1.welcome span:nth-child(10) {
    animation-delay: 1.9s;
}



@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        color: var(--header-color);
    }
}

p.why-details {
    line-height: 1.2rem;
}