<div class="product-page">


    <div class="product-container">
        <div class="product-image">
            <img src="{{detaileditem?.photo}}" alt="Product image">
        </div>

        <div class="product-info">
            <h1 class="product-title">{{detaileditem?.name}}</h1>
            <p class="product-price">{{detaileditem?.price}} UZS</p>

            <p class="product-description">
                {{detaileditem?.description}}
            </p>

            <div class="product-options">
                <label for="size">Hajmi:</label>
                <select id="size" #select>
                    @for (item of detaileditem?.sizes; track $index) {
                    <option>{{item}}</option>
                    }
                </select>
            </div>

            <div class="quantity">
                <label for="qty">Soni:</label>
                <input type="number" id="qty" value="1" #count min="1">
            </div>

            <button class="add-to-cart" (click)="add_to_cart(count.value, select.value)">Savatchaga qo'shish</button>
        </div>
    </div>

</div>